<div class="mb-3">
  <div class="position-relative form-floating">

    @if (element === 'input') {
    <input [class]="{
          'is-valid': control?.valid,
          'is-invalid': control?.invalid && control?.touched
        }" [formControl]="control" [type]="typeInput === 'password' ? (flag ? 'password' : 'text') : typeInput"
      [id]="idInput" class="form-control pe-5" placeholder="{{ lableInput }}" />
    }

    @else if (element === "text") {
    <textarea [class]="{
          'is-valid': control?.valid,
          'is-invalid': control?.invalid && control?.touched
        }" [formControl]="control" [id]="idInput" class="form-control" placeholder="{{ lableInput }}"
      style="height: 120px">
      </textarea>
    }

    <label [for]="idInput" [class]="{
        'text-success': control?.valid,
        'text-danger': control?.invalid && control?.touched
      }">
      {{ lableInput }}
    </label>

    @if (typeInput === 'password') {
    <span (click)="flag = !flag" class="position-absolute top-50 end-0 translate-middle-y me-3"
      style="cursor: pointer; z-index: 5;">
      <i class="fas" [class.fa-eye]="flag" [class.fa-eye-slash]="!flag">
      </i>
    </span>
    }

  </div>

  <!-- Errors -->
  @if (control?.errors && control?.touched) {
  <div class="alert alert-danger mt-2 mb-0" role="alert">
    <ul class="mb-0">
      @if (control?.hasError('required')) {
      <li>{{ 'input.required' | translate }}</li>
      }
      @if (control?.hasError('minlength')) {
      <li>{{ 'input.minlength' | translate }}</li>
      }
      @if (control?.hasError('maxlength')) {
      <li>{{ 'input.maxlength' | translate }}</li>
      }
      @if (control?.hasError('email')) {
      <li>{{ 'input.email' | translate }}</li>
      }
      @if (control?.hasError('pattern')) {
      <li><ng-content /></li>
      }
      @if (control?.hasError('mismatch')) {
      <li>{{ 'input.mismatch' | translate }}</li>
      }
    </ul>
  </div>
  }
</div>