<section class="col-11 col-md-8 col-lg-5 mx-auto my-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4 p-sm-5">

            <div class="text-center mb-4">
                <h2 class="fw-bold text-success mb-1">{{ 'signIn.title' | translate }}</h2>
                <p class="text-muted">{{ 'signIn.subtitle' | translate }}</p>
            </div>

            <form [formGroup]="signInForm" (ngSubmit)="submitForm()">

                <div class="mb-3">
                    <app-input [control]="signInForm.get('email')" [typeInput]="'email'" [idInput]="'email'"
                        [lableInput]="'auth.emailAddress' | translate">
                    </app-input>
                </div>

                <div class="mb-4">
                    <app-input [control]="signInForm.get('password')" [typeInput]="'password'" [idInput]="'password'"
                        [lableInput]="'auth.password' | translate">
                    </app-input>
                </div>

                <button type="submit" class="btn btn-success w-100 py-2 fw-semibold shadow-sm" [disabled]="isLoading">
                    @if (isLoading) {
                    <i class="fas fa-spinner fa-spin me-2"></i> {{ 'signIn.signingIn' | translate }}
                    } @else {
                    {{ 'signIn.title' | translate }}
                    }
                </button>

                <a routerLink="/forgot"
                    class="d-block text-center  pt-3 text-decoration-none text-danger fw-medium pe-auto">
                    {{ 'signIn.forgotPassword' | translate }}
                </a>

                @if(msgError) {
                <div class="alert alert-danger d-flex align-items-center mt-4 mb-0 py-2 shadow-sm" role="alert">
                    <i class="fas fa-exclamation-circle me-2"></i>
                    <div>{{ msgError }}</div>
                </div>
                }

            </form>
        </div>
    </div>


</section>