<div class="container my-5">
    <div class="row">
        @for(category of categories(); track category._id)
        {
            <div class="col-md-6 col-lg-4 col-xl-3 mb-3 text-center">
                <div class="item product pt-4 px-4 pb-3">
                    <div class="image m-auto mb-4">
                        <img src="{{category.image}}" class="img-fluid" alt="" style="height: 280px; object-fit: cover;">
                    </div>
                    <h5 class="fw-bold">{{category.name}}</h5>
                </div>
            </div>
        }
    </div>
</div>